.nav-link:hover {
    color: red !important; 
  }

  .section1TextWrapper{
    width: 580px;
  }

  .section1TextWrapper>h1{
  font-family: poppins;
  font-size: 46px;
  line-height: 57px;
  font-weight: 400;
}

.section1TextWrapper>p{
  font-family: Poppins;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: black;
  margin-bottom: 25px;
}

.section2TextWrapper{
    width: 360px;
}
.section2TextWrapper>h2{
  font-family: Poppins;
  font-size: 26px;
  line-height: 35px;
  font-weight: 650;
  color: black;
  width: 361px;
}
.section2TextWrapper>p{
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: black;
   
}

.More{
   font-family: Poppins;
  font-size: 26px;
  line-height: 35px;
  font-weight: 650;
  color: black;
  width: 361px;
}

.section4TextWrapper{
    width: 300px;
}


.Links{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 1024px) {
   .Section2ImgWrapper img {
    width: 280px !important;
  }

  .section2TextWrapper{
    padding: 40px;

}
  
}
@media screen and (max-width: 767.98px) {
  .Section2ImgWrapper img {
    width: 275px !important;
  }

  .fotterLinks,
  .section6TextWrapper,
  .item3,
  .item2,
  .item1,
  .imgAndText {
    flex-direction: column !important;
  }


   .section1TextWrapper{
    width: 380px;
  }

  .section1TextWrapper>h1{
  font-family: poppins;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}

.section1TextWrapper>p{
  font-family: Poppins;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
  color: black;
  margin-bottom: 25px;
}

  .section2TextWrapper{
    width: 300px;
}

  .section2TextWrapper >h2{
  font-family: Poppins;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  color: black;
  width: 361px; 
}

  
  .section2TextWrapper>p{
  font-family: Poppins;
  font-size: 15px;
  line-height: 12px;
  font-weight: 500;
  color: blcak;
   
}

}